.page-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .page-container .search-container {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center; }
    .page-container .search-container input[type='text'] {
      width: 40%;
      height: 36px;
      margin: 0 20px 0 0;
      padding: 0 0 0 4px; }
    .page-container .search-container .submit-btn {
      padding: 10px 20px;
      background: green;
      color: white;
      border: 1px solid black;
      border-radius: 4px;
      cursor: pointer; }
      .page-container .search-container .submit-btn:hover {
        color: black; }
  .page-container .result-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 40px 0;
    justify-content: center; }
    .page-container .result-container span {
      text-align: center;
      font-size: 20px;
      color: red; }
    .page-container .result-container li {
      width: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;
      cursor: pointer; }
      .page-container .result-container li img {
        width: 200px;
        height: 300px;
        object-fit: cover; }
      .page-container .result-container li span {
        margin: 10px;
        font-size: 18px;
        color: #000; }
  .page-container .is-hidden {
    display: none; }
  .page-container .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); }
    .page-container .overlay .modal-content {
      padding: 20px 30px;
      width: 60%;
      position: relative;
      min-height: 300px;
      max-height: 80%;
      margin: 5% auto 0;
      background: #fff;
      display: flex;
      flex-direction: column;
      overflow-y: auto; }
      .page-container .overlay .modal-content .button-close {
        display: inline-block;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAowAAAKMB8MeazgAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAB5SURBVDiNrZPRCcAwCEQfnUiySAZuF8kSWeH6Yz8KrQZMQAicJ+epAB0YwAmYJKIADLic0/GPPCbQAnLznCd/4NWUFfkgy1VjH8CryA95ApYltAiTRCZxpuoW+gz9WXE6NPeg+ra1UDIxGlWEObe4SGxY5fIxlc75Bkt9V4JS7KWJAAAAAElFTkSuQmCC59ef34356faa7edebc7ed5432ddb673d"); }
      .page-container .overlay .modal-content .movie-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start; }
        .page-container .overlay .modal-content .movie-details img {
          width: 80px;
          height: 160px;
          object-fit: cover; }
        .page-container .overlay .modal-content .movie-details span, .page-container .overlay .modal-content .movie-details div {
          font-size: 18px;
          margin: 5px 0; }
        .page-container .overlay .modal-content .movie-details ul {
          display: flex;
          flex-wrap: wrap;
          list-style: none;
          padding: 0;
          margin: 10px 0;
          justify-content: space-around;
          width: 100%; }
          .page-container .overlay .modal-content .movie-details ul li {
            display: flex;
            flex-direction: column;
            align-items: center; }
            .page-container .overlay .modal-content .movie-details ul li span {
              white-space: pre-line;
              width: 100px;
              text-align: center; }
